:root {
	--main-hue: 211;
	--lightness-change: 0%;
	--sec-hue: calc(var(--main-hue) - 6);
	/* #004a97; */
	--pri-100: hsl(
		var(--main-hue),
		100%,
		clamp(0%, calc(30% + var(--lightness-change)), 100%)
	);
	/* #4077b1; */
	--pri-75: hsl(
		var(--main-hue),
		45%,
		clamp(0%, calc(47% + var(--lightness-change)), 100%)
	);
	/* #80a4cb; */
	--pri-50: hsl(
		var(--main-hue),
		45%,
		clamp(0%, calc(65% + var(--lightness-change)), 100%)
	);
	/* #bfd2e5 */
	--pri-25: hsl(
		var(--main-hue),
		45%,
		clamp(0%, calc(82% + var(--lightness-change)), 100%)
	);
	/* #d9e4ef */
	--pri-15: hsl(
		var(--main-hue),
		45%,
		clamp(0%, calc(89% + var(--lightness-change)), 100%)
	);

	/* #65b2e9 */
	--sec-100: hsl(
		var(--sec-hue),
		75%,
		clamp(0%, calc(65% + var(--lightness-change)), 100%)
	);
	/* #8cc5ee */
	--sec-75: hsl(
		var(--sec-hue),
		75%,
		clamp(0%, calc(74% + var(--lightness-change)), 100%)
	);
	/* #b2d8f4 */
	--sec-50: hsl(
		var(--sec-hue),
		75%,
		clamp(0%, calc(83% + var(--lightness-change)), 100%)
	);
	/* #d8ecfa */
	--sec-25: hsl(
		var(--sec-hue),
		75%,
		clamp(0%, calc(91% + var(--lightness-change)), 100%)
	);
	/* #e8f3fc */
	--sec-15: hsl(
		var(--sec-hue),
		75%,
		clamp(0%, calc(95% + var(--lightness-change)), 100%)
	);
}
