#hueRange {
	width: 100%;
	border-radius: 6px;
	background: linear-gradient(in hsl longer hue 90deg, hsl(0, 50%, 75%) 0 0);
	outline: none;
	margin-bottom: 10px;
}

#hueRange::-webkit-slider-runnable-track {
	background: none;
	height: 16px;
}

#hueRange::-webkit-slider-thumb {
	margin-top: 0;
	background-color: hsl(var(--main-hue), 50%, 75%);
	border: white solid 2px;
}
